
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-div {
    display: flex;
    flex-direction: column;
    align-items: begin;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    width: 90vw;
    height: 80vh;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #363636;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0) 60%), url('../../public/food.png');
    background-size: cover;
}

.caption {
    font-size: 40px;
    font-weight: bold;
    color: #363636;
}

.hero-button {
    width: fit-content;
    padding: 20px 60px;
    margin: 5px;
    margin-top: 80px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background: #92ff7a;
    border-radius: 10px;
    border: 0;
}

.section{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.icons-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.icons-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #363636;
}

.icon{
    height: 70px;
    width: 70px;
    margin: 5px;
    object-fit: contain;
}

.check{
    height: 50px;
    width: 50px;
    margin: 5px;
    object-fit: contain;
}

.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #363636;
    width: 80vw;
}

@media (max-width: 800px){
    .video-container{
        flex-direction: column;
    }
}

.video{
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
}

.video iframe{
    border-radius: 10px;
}

.video-text{
    flex: 1;
}

.video-text-point{
    margin-left: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 2px;
    margin-top: 20px;
}

.video-text-point h2{
    font-size: 25px;
    line-height: 30px;
    margin:0;
}

.video-text-point p{
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    margin:0;
    text-align: center;
}

.green-section{
    font-size: 25px;
    color: white;
    padding: 20px;
    background: rgb(56, 92, 98);
}

.green-section button {
    margin-top: 30px;
}

.green-section span {
    width: 50vw;
    text-align: center;
}

.comment-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 100px;
    padding-bottom: 20px;
}

.comment-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 100px;
    padding-bottom: 20px;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    padding: 30px;
    width: 40vw;
    font-size: 17px;
    font-weight: bold;
}

.comment p {
    margin-left: 20px;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.comment-header h2 {
    font-weight: lighter;
    font-size: 22px;
}

.rating{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    width: 100vw;
    background: rgb(56, 92, 98);
    color: white;
    line-height: 10px;
}

hr {
    width: 80vw;
    margin: 20px;
    border: 0;
    border-top: 1px solid #a9a9a9;
}


.footer-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-center {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    color:rgb(221, 221, 221);
    font-size: 20px;
}

.footer-center ul {
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 100px;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 30px;
}

.footer-right {
    padding: 20px;
    line-height: 10px;
}

.footer-right h3 {
    font-weight: lighter;
}

.footer-right input {
    width: 200px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    padding: 5px;
    border: 0;
}

.footer-right button {
    width: 40px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    border: 0;
    background: #92ff7a;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.footer-logo {
    display: flex;
    gap: 10px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}

.footer-social {
    display: flex;
    gap: 20px;
}

.social-icon {
    width: 20px;
    height: 20px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 100%;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
