@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    padding: 0 20px;
    margin: 0;
    background-color: #fefdfd;
    top: 0;
    z-index: 100;
}

.logo-section{
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.logo{
    width: 50px;
    height: 50px;
}

.logo-text{
    font-size: 40px;
    font-weight: 700;
}

.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    max-width: 40vw;
    height: 20px;
    padding: 0 20px;
    margin-right: 7rem;
    background-color: #fefdfd;
    top: 0;
    z-index: 100;
    list-style-type: none;
    white-space: nowrap;
}

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 80px;
}

.mobile-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: fixed;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: #fefdfd;
    top: 80px;
    z-index: 99;
    animation: slideFromRight 0.3s ease;
}

.mobile-menu ul {
    list-style-type: none;
}

.mobile-menu li {
    margin: 20px 0;
    white-space: nowrap;
}

.enabled {
    display: none;
}

@media (max-width: 1000px) {
    .links{
        display: none;
        flex-direction: column;
    }
    .hamburger{
        display: flex;
    }
    .enabled {
        display: flex;
    }
}

a {
    margin: 0 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #373737;
    font-size: 20px;
    font-weight: 500;
}

.login-button {
    margin: 0 20px;
    padding: 10px 30px;
    text-decoration: none;
    color: #696969;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #696969;
    border-radius: 5px;
}