.checked {
    color: rgb(255, 217, 0);
}

.rating_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    width: min-content;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}